<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petcarehome">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FirebasePersistance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme">
        <activity
            android:name=".homenavigation.ui.difusion.FullScreenImageActivity"
            android:label="Foto"
            android:parentActivityName=".homenavigation.ui.difusion.perdidas.DetalleReportePerdidasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity android:name=".homenavigation.ui.mapa.dueno.CuidadorInfoActivity" />
        <activity android:name=".homenavigation.ui.config.clases_fragmentos.FormularioMascotas" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".homenavigation.ui.petfriendly.activities.AgregarCategoriaActivity" />
        <activity android:name=".homenavigation.ui.petfriendly.activities.LugaresPetFriendlyActivity" />
        <activity android:name=".homenavigation.ui.petfriendly.activities.DetallePetfriendlyActivity" />
        <activity android:name=".homenavigation.ui.petfriendly.activities.AgregarPetfriendlyActivity" />
        <activity android:name=".InicioYRegistro.registroCuidadorActivity" />
        <activity android:name=".homenavigation.HomeActivity_Cuidador" />
        <activity android:name=".InicioYRegistro.registroDuenoActivity" />
        <activity android:name=".InicioYRegistro.cuidadorLoginActivity" />
        <activity android:name=".InicioYRegistro.duenoLoginActivity" />
        <activity
            android:name=".InicioYRegistro.TipoUserActivity"
            android:label="Bienvenido"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ACTIVDADES DEL HOME NAVIGATION -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".homenavigation.ui.difusion.adopcion.DetalleReporteAdopcionActivity"
            android:label="Mascota en Adopción"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.ui.difusion.encontradas.DetalleReporteEncontradaActivity"
            android:label="Mascota Encontrada"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.ui.difusion.perdidas.DetalleReportePerdidasActivity"
            android:label="Mascota Extraviada"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.ui.difusion.adopcion.GenerarReporteAdopcionActivity"
            android:label="Reporte mascota en adopción"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.ui.difusion.encontradas.GenerarReporteEncontradaActivity"
            android:label="Reporte mascota encontrada"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.ui.difusion.perdidas.GenerarReporteExtravioActivity"
            android:label="Reporte mascota extraviada"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homenavigation.HomeActivity_Dueno"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAppTheme"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>